@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;

    @media screen and (max-width: 792px) {
        gap: 10px;
    }

    &__logo {
        font-family: 'Lily Script One';
        font-weight: bolder;
        font-size: 30px;
        color: white;
        @media screen and (max-width: 792px) {
            justify-content: center;
        }
    }

    &__action {
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 10px;
        color: white;
    }
}